/* body{
    background-color: black;
    font-size: 21px;
    font-family: sans-serif;
    color: white
}

p {
    color: aqua;
}

h1{
    color: blueviolet;
} */

/* this is the box model */

.box{
    background-color: pink;
    width: 300px;

    margin: 100px;
    border: 5px red solid;
    padding: 100px;
}